body {
  margin: 0;
  padding: 0;
  font-family: "Lato";
  background-color: #d777aa;
}
header {
  background-image: linear-gradient(135deg, #fff886 10%, #f072b6 100%);
  padding: 20px 0;
}
.caixa {
  width: 940px;
  position: relative;
  margin: 0 auto;
}
nav {
  position: absolute;
  top: 110px;
  right: 0;
}
nav li {
  display: inline;
  margin: 0 0 0 15px;
}
nav a {
  text-transform: uppercase;
  text-decoration: none;
  color: black;
  font-weight: bold;
  font-size: 22px;
}
nav a:hover {
  color: #8e295f;
}
.produtos {
  width: 940px;
  margin: 0 auto;
  padding: 50px 0;
}
.produtos li {
  display: inline-block;
  text-align: center;
  width: 30%;
  vertical-align: top;
  background-image: linear-gradient(135deg, #fff886 10%, #f072b6 100%);
  margin: 0 1.5%;
  padding: 30px 20px;
  box-sizing: border-box;
  border-radius: 10px;
  border: 2px dotted #000000;
}
.produtos li:hover {
  color: #8e295f;
}
.produtos li:active {
  color: #d777aa;
}
.produtos li:hover h2 {
  color: #8e295f;
  font-size: 36px;
}

.produtos h2 {
  font-size: 30px;
  font-weight: bold;
}
.produto-descricao {
  font-size: 18px;
}

.produto-preco {
  font-size: 22px;
  font-weight: bold;
  margin-top: 10px;
}
footer {
  text-align: center;
  background-image: url(img/bg.jpg);
  padding: 40px 0;
}

.copyright {
  font-size: 12px;
  margin-top: 20px;
  color: #d777aa;
}
main {
  width: 940px;
  margin: 0 auto;
}
form {
  margin: 40px 0;
}
form label,
form legend {
  display: block;
  font-size: 17px;
  margin: 0 0 10px;
}
.input-padrao {
  display: block;
  margin: 0 0 20px;
  padding: 10px 25px;
  width: 50%;
  color: #8e295f;
}
.checkbox {
  margin: 20px 0;
}
p {
  color: #8e295f;
  font-weight: bold;
}

form legend {
  color: #50002b;
}
.enviar {
  width: 40%;
  padding: 15px 0;
  background-image: linear-gradient(135deg, #fff886 10%, #f072b6 100%);
  border-radius: 10px;
  box-shadow: 5px 5px 5px rgba(33, 3, 38, 0.26);
  font-weight: bold;
  font-size: 17px;
  border: none;
  transition: 1s all;
  cursor: pointer;
}
.enviar:hover {
  background: #5e0846;
  color: #fff;
  transform: scale(1.2);
}

table {
  margin: 20px 0 40px;
}
thead {
  background: #5e0846;
  color: #fff;
  font-weight: bold;
}
td,
th {
  border: 1px solid #8e295f;
  padding: 10px 15px;
}
